In [12]:
import pandas as pd
data= pd.read_csv("dataset_project_eHealth20232024.csv")
phq = data.filter(['age', 'gender', 'education', 'marital', 'income', 'phq_1', 'phq_2', 'phq_3', 'phq_4', 'phq_5', 'phq_6', 'phq_7', 'phq_8', 'phq_9', 'phq_10', 'phq_11', 'phq_12', 'phq_13'])
phq

,age,gender,education,marital,income,phq_1,phq_2,phq_3,phq_4,phq_5,phq_6,phq_7,phq_8,phq_9
0,42.0,1,5.0,1,18000,0,0.0,1.0,0,0,0,1.0,0.0,0.0
1,51.0,3,18.0,1,23000,0,0.0,0.0,0,0,0,0.0,0.0,0.0
2,40.0,0,8.0,1,10000,0,0.0,0.0,0,1,0,0.0,0.0,0.0
3,19.0,0,25.0,5,31000,2,1.0,0.0,0,2,0,0.0,0.0,0.0
4,42.0,2,13.0,1,40000,0,NaN,0.0,0,1,2,2.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,29.0,2,18.0,0,25000,0,2.0,0.0,2,0,2,0.0,1.0,0.0
156,40.0,1,13.0,5,27000,2,1.0,2.0,0,2,1,0.0,0.0,1.0
157,40.0,0,13.0,0,26000,0,0.0,2.0,1,0,0,0.0,0.0,2.0
158,41.0,1,8.0,1,11000,0,NaN,1.0,0,0,0,0.0,0.0,0.0
159,55.0,0,8.0,2,32199,0,0.0,0.0,0,0,0,0.0,0.0,0.0

In [13]:
import pandas as pd
from sklearn.datasets import make_blobs
from sklearn.cluster import KMeans

kmeans = KMeans(n_clusters=3)

# drop row containing null values
phq = phq.dropna()
y = kmeans.fit_predict(phq[['age', 'gender', 'education', 'marital', 'income', "phq_1", "phq_2", "phq_3", "phq_4", "phq_5", "phq_6", "phq_7", "phq_8", "phq_9"]])
phq['Cluster'] = y
kmeans = KMeans(n_clusters=3)
y = kmeans.fit_predict(phq[['age', 'gender', 'education', 'marital', 'income', "phq_1", "phq_2", "phq_3", "phq_4", "phq_5", "phq_6", "phq_7", "phq_8", "phq_9"]])

phq['Cluster'] = y

print(phq)

      age  gender  education  marital  income  phq_1  phq_2  phq_3  phq_4  \
0    42.0       1        5.0        1   18000      0    0.0    1.0      0
1    51.0       3       18.0        1   23000      0    0.0    0.0      0
2    40.0       0        8.0        1   10000      0    0.0    0.0      0
3    19.0       0       25.0        5   31000      2    1.0    0.0      0
5    48.0       2       13.0        1   11000      0    0.0    0.0      1
..    ...     ...        ...      ...     ...    ...    ...    ...    ...
154  53.0       2        8.0        1   13000      0    0.0    1.0      0
155  29.0       2       18.0        0   25000      0    2.0    0.0      2
156  40.0       1       13.0        5   27000      2    1.0    2.0      0
157  40.0       0       13.0        0   26000      0    0.0    2.0      1
159  55.0       0        8.0        2   32199      0    0.0    0.0      0

     phq_5  phq_6  phq_7  phq_8  phq_9  Cluster
0        0      0    1.0    0.0    0.0        0
1        0      0    0.0    0.0    0.0        0
2        1      0    0.0    0.0    0.0        0
3        2      0    0.0    0.0    0.0        2
5        0      0    1.0    0.0    0.0        0
..     ...    ...    ...    ...    ...      ...
154      0      0    0.0    0.0    0.0        0
155      0      2    0.0    1.0    0.0        2
156      2      1    0.0    0.0    1.0        2
157      0      0    0.0    0.0    2.0        2
159      0      0    0.0    0.0    0.0        2

[150 rows x 15 columns]

/usr/local/lib/python3.10/dist-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(
<ipython-input-13-c08f0a3a72b0>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  phq['Cluster'] = y
/usr/local/lib/python3.10/dist-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(
<ipython-input-13-c08f0a3a72b0>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  phq['Cluster'] = y

In [14]:
cluster_0 = phq.loc[phq['Cluster'] == 0]
print(cluster_0)

      age  gender  education  marital  income  phq_1  phq_2  phq_3  phq_4  \
0    42.0       1        5.0        1   18000      0    0.0    1.0      0
1    51.0       3       18.0        1   23000      0    0.0    0.0      0
2    40.0       0        8.0        1   10000      0    0.0    0.0      0
5    48.0       2       13.0        1   11000      0    0.0    0.0      1
8    40.0       3       18.0        3   12000      0    0.0    0.0      1
19   37.0       3       13.0        2   15399      0    0.0    0.0      1
20   47.0       1       18.0        1   14000      0    0.0    0.0      1
21   53.0       2       13.0        1   20000      0    0.0    0.0      0
29   37.0       1        5.0        3   16000      0    0.0    0.0      0
30   54.0       1        8.0        2   22400      0    1.0    0.0      0
37   39.0       1        8.0        1   24000      0    0.0    0.0      1
42   38.0       1        5.0        1   24000      0    0.0    0.0      0
43   50.0       3       18.0        1   20000      0    0.0    1.0      1
45   36.0       1       18.0        4   19000      0    0.0    0.0      1
46   44.0       0       13.0        4   15000      1    1.0    0.0      1
58   42.0       3       13.0        2   15399      1    1.0    0.0      0
60   53.0       0        5.0        5   12000      0    0.0    0.0      0
61   39.0       2        8.0        4   12000      1    0.0    1.0      0
63   36.0       2       13.0        1   21000      0    0.0    1.0      0
68   47.0       3        8.0        3   16000      0    0.0    0.0      0
70   51.0       0        8.0        2   15399      0    0.0    0.0      0
73   54.0       3       18.0        4   21000      0    1.0    1.0      0
79   52.0       2       13.0        2   23800      0    0.0    0.0      0
86   53.0       3       13.0        1   17000      0    0.0    0.0      0
91   44.0       0       13.0        4   15000      1    1.0    0.0      1
95   37.0       1        5.0        4   22000      0    0.0    1.0      0
96   42.0       1        8.0        2   22400      0    1.0    0.0      1
101  42.0       2        8.0        1   17000      1    0.0    0.0      0
108  54.0       1        8.0        4   20000      1    0.0    0.0      0
116  53.0       1       13.0        1   18000      0    1.0    1.0      0
118  45.0       1        8.0        1   11000      0    0.0    1.0      0
122  48.0       2        8.0        3   16000      0    0.0    0.0      0
123  39.0       3        5.0        5   20000      0    1.0    0.0      0
131  43.0       3       18.0        4   21000      0    1.0    0.0      0
132  40.0       0        8.0        1   17000      0    0.0    0.0      0
133  48.0       3       13.0        1   21000      0    1.0    1.0      0
135  44.0       3       13.0        1   17000      1    0.0    0.0      0
142  45.0       3        8.0        1   22000      0    0.0    0.0      0
149  53.0       1        8.0        1   16000      0    0.0    0.0      1
153  36.0       2       13.0        1   21000      0    0.0    1.0      0
154  53.0       2        8.0        1   13000      0    0.0    1.0      0

     phq_5  phq_6  phq_7  phq_8  phq_9  Cluster
0        0      0    1.0    0.0    0.0        0
1        0      0    0.0    0.0    0.0        0
2        1      0    0.0    0.0    0.0        0
5        0      0    1.0    0.0    0.0        0
8        0      0    0.0    0.0    0.0        0
19       1      0    0.0    0.0    0.0        0
20       0      0    0.0    0.0    0.0        0
21       0      1    0.0    0.0    0.0        0
29       1      0    0.0    0.0    0.0        0
30       0      0    0.0    1.0    0.0        0
37       0      1    0.0    1.0    0.0        0
42       0      1    1.0    0.0    0.0        0
43       1      0    0.0    0.0    1.0        0
45       0      0    0.0    0.0    0.0        0
46       0      0    0.0    1.0    0.0        0
58       0      0    1.0    0.0    1.0        0
60       0      0    0.0    0.0    1.0        0
61       0      0    1.0    1.0    0.0        0
63       0      0    0.0    0.0    0.0        0
68       0      0    0.0    0.0    0.0        0
70       1      1    0.0    1.0    1.0        0
73       1      0    1.0    0.0    0.0        0
79       0      0    0.0    0.0    0.0        0
86       0      0    0.0    0.0    0.0        0
91       0      0    0.0    1.0    0.0        0
95       0      0    0.0    0.0    0.0        0
96       0      1    0.0    0.0    1.0        0
101      0      0    1.0    1.0    0.0        0
108      0      1    0.0    1.0    1.0        0
116      0      0    1.0    1.0    0.0        0
118      1      0    0.0    0.0    0.0        0
122      1      0    0.0    0.0    0.0        0
123      0      0    0.0    0.0    0.0        0
131      0      0    0.0    0.0    0.0        0
132      1      0    0.0    0.0    0.0        0
133      1      0    0.0    0.0    0.0        0
135      0      1    0.0    1.0    1.0        0
142      0      0    0.0    0.0    0.0        0
149      1      0    1.0    0.0    0.0        0
153      0      0    0.0    0.0    0.0        0
154      0      0    0.0    0.0    0.0        0

In [15]:
print(cluster_0.mean())

age             45.097561
gender           1.707317
education       10.853659
marital          2.121951
income       17726.756098
phq_1            0.170732
phq_2            0.243902
phq_3            0.268293
phq_4            0.268293
phq_5            0.268293
phq_6            0.170732
phq_7            0.219512
phq_8            0.243902
phq_9            0.170732
Cluster          0.000000
dtype: float64

In [29]:
print(cluster_0.min())

age             36.0
gender           0.0
education        5.0
marital          1.0
income       10000.0
phq_1            0.0
phq_2            0.0
phq_3            0.0
phq_4            0.0
phq_5            0.0
phq_6            0.0
phq_7            0.0
phq_8            0.0
phq_9            0.0
Cluster          0.0
dtype: float64

In [30]:
print(cluster_0.max())

age             54.0
gender           3.0
education       18.0
marital          5.0
income       24000.0
phq_1            1.0
phq_2            1.0
phq_3            1.0
phq_4            1.0
phq_5            1.0
phq_6            1.0
phq_7            1.0
phq_8            1.0
phq_9            1.0
Cluster          0.0
dtype: float64

In [16]:
len(cluster_0.index)

41

In [17]:
cluster_1 = phq.loc[phq['Cluster'] == 1]
print(cluster_1)

      age  gender  education  marital  income  phq_1  phq_2  phq_3  phq_4  \
12   19.0       0       18.0        0   40000      2    2.0    0.0      0
13   41.0       0       13.0        2   47600      0    1.0    1.0      0
25   52.0       2        8.0        5   39000      2    0.0    2.0      1
28   54.0       2       13.0        2   56000      0    0.0    1.0      1
31   48.0       3       13.0        2   51800      0    0.0    0.0      0
34   37.0       0       13.0        1   39000      1    1.0    0.0      0
35   25.0       0       22.0        0   39000      1    0.0    0.0      1
38   42.0       3        8.0        1   38000      1    1.0    0.0      1
41   32.0       0       22.0        2   50400      0    1.0    1.0      2
48   28.0       3       25.0        0   38000      0    0.0    2.0      1
52   52.0       1       22.0        2   54600      0    1.0    0.0      0
54   53.0       2       13.0        2   42000      2    2.0    0.0      0
57   22.0       1       13.0        0   39000      1    2.0    1.0      2
65   32.0       2       13.0        2   50400      0    2.0    1.0      0
67   51.0       0       13.0        1   40000      0    0.0    0.0      1
69   18.0       1       13.0        2   37800      0    2.0    2.0      0
72   44.0       0       18.0        1   40000      2    0.0    0.0      0
88   18.0       1       22.0        5   37000      1    0.0    2.0      0
93   31.0       0       22.0        2   39200      2    0.0    0.0      0
105  20.0       2       22.0        1   38000      2    0.0    0.0      1
107  28.0       3       25.0        0   38000      0    0.0    2.0      1
109  38.0       3       13.0        0   39000      2    0.0    0.0      2
110  50.0       2       13.0        2   51800      0    0.0    0.0      2
117  33.0       3       22.0        2   49000      0    0.0    0.0      2
139  42.0       2       13.0        1   40000      2    0.0    0.0      0
145  36.0       0        8.0        1   38000      1    0.0    0.0      0

     phq_5  phq_6  phq_7  phq_8  phq_9  Cluster
12       1      0    2.0    0.0    2.0        1
13       2      0    0.0    2.0    0.0        1
25       0      0    2.0    2.0    0.0        1
28       0      2    0.0    2.0    0.0        1
31       0      2    1.0    0.0    2.0        1
34       0      2    2.0    2.0    1.0        1
35       1      2    1.0    0.0    1.0        1
38       1      1    1.0    1.0    2.0        1
41       0      0    0.0    0.0    2.0        1
48       0      2    0.0    0.0    0.0        1
52       0      2    1.0    2.0    0.0        1
54       1      0    0.0    1.0    0.0        1
57       2      0    0.0    0.0    0.0        1
65       0      0    2.0    0.0    1.0        1
67       0      0    1.0    2.0    2.0        1
69       1      2    2.0    0.0    0.0        1
72       2      0    1.0    2.0    1.0        1
88       1      1    1.0    1.0    2.0        1
93       0      2    1.0    2.0    1.0        1
105      0      0    1.0    1.0    0.0        1
107      0      2    0.0    0.0    0.0        1
109      0      2    0.0    0.0    0.0        1
110      0      1    1.0    2.0    1.0        1
117      0      0    2.0    1.0    1.0        1
139      1      1    1.0    0.0    2.0        1
145      0      2    2.0    0.0    0.0        1

In [18]:
print(cluster_1.mean())

age             36.384615
gender           1.384615
education       16.153846
marital          1.500000
income       42792.307692
phq_1            0.846154
phq_2            0.576923
phq_3            0.576923
phq_4            0.692308
phq_5            0.500000
phq_6            1.000000
phq_7            0.961538
phq_8            0.884615
phq_9            0.807692
Cluster          1.000000
dtype: float64

In [26]:
print(cluster_1.min())

age             18.0
gender           0.0
education        8.0
marital          0.0
income       37000.0
phq_1            0.0
phq_2            0.0
phq_3            0.0
phq_4            0.0
phq_5            0.0
phq_6            0.0
phq_7            0.0
phq_8            0.0
phq_9            0.0
Cluster          1.0
dtype: float64

In [28]:
print(cluster_1.max())

age             54.0
gender           3.0
education       25.0
marital          5.0
income       56000.0
phq_1            2.0
phq_2            2.0
phq_3            2.0
phq_4            2.0
phq_5            2.0
phq_6            2.0
phq_7            2.0
phq_8            2.0
phq_9            2.0
Cluster          1.0
dtype: float64

In [19]:
len(cluster_1.index)

26

In [20]:
cluster_2 = phq.loc[phq['Cluster'] == 2]
print(cluster_2)

      age  gender  education  marital  income  phq_1  phq_2  phq_3  phq_4  \
3    19.0       0       25.0        5   31000      2    1.0    0.0      0
6    33.0       0       22.0        2   36400      0    1.0    0.0      2
7    55.0       2        8.0        2   28000      0    0.0    0.0      0
9    46.0       2       13.0        1   35000      2    0.0    2.0      1
10   27.0       3       13.0        0   25000      0    1.0    1.0      0
..    ...     ...        ...      ...     ...    ...    ...    ...    ...
152  49.0       3       13.0        1   31000      0    0.0    1.0      0
155  29.0       2       18.0        0   25000      0    2.0    0.0      2
156  40.0       1       13.0        5   27000      2    1.0    2.0      0
157  40.0       0       13.0        0   26000      0    0.0    2.0      1
159  55.0       0        8.0        2   32199      0    0.0    0.0      0

     phq_5  phq_6  phq_7  phq_8  phq_9  Cluster
3        2      0    0.0    0.0    0.0        2
6        1      1    0.0    2.0    0.0        2
7        0      0    0.0    0.0    0.0        2
9        0      2    2.0    0.0    0.0        2
10       2      0    0.0    2.0    2.0        2
..     ...    ...    ...    ...    ...      ...
152      0      2    2.0    0.0    0.0        2
155      0      2    0.0    1.0    0.0        2
156      2      1    0.0    0.0    1.0        2
157      0      0    0.0    0.0    2.0        2
159      0      0    0.0    0.0    0.0        2

[83 rows x 15 columns]

In [22]:
print(cluster_2.mean())

age             36.662651
gender           1.566265
education       15.253012
marital          1.265060
income       30587.939759
phq_1            0.795181
phq_2            0.674699
phq_3            0.891566
phq_4            0.722892
phq_5            0.626506
phq_6            0.819277
phq_7            0.807229
phq_8            0.686747
phq_9            0.506024
Cluster          2.000000
dtype: float64

In [24]:
print(cluster_2.min())

age             19.0
gender           0.0
education        5.0
marital          0.0
income       25000.0
phq_1            0.0
phq_2            0.0
phq_3            0.0
phq_4            0.0
phq_5            0.0
phq_6            0.0
phq_7            0.0
phq_8            0.0
phq_9            0.0
Cluster          2.0
dtype: float64

In [25]:
print(cluster_2.max())

age             55.0
gender           3.0
education       25.0
marital          5.0
income       36400.0
phq_1            2.0
phq_2            2.0
phq_3            2.0
phq_4            2.0
phq_5            2.0
phq_6            2.0
phq_7            2.0
phq_8            2.0
phq_9            2.0
Cluster          2.0
dtype: float64

In [31]:
len(cluster_2.index)

83

In [32]:
def find_majority(k):
    myMap = {}
    maximum = ( '', 0 ) # (occurring element, occurrences)
    for n in k:
        if n in myMap: myMap[n] += 1
        else: myMap[n] = 1

        # Keep track of maximum on the go
        if myMap[n] > maximum[1]: maximum = (n,myMap[n])

    return maximum

In [34]:
gender_0 = cluster_0['gender']
find_majority(gender_0)

(3, 13)

In [35]:
marital_0 = cluster_0['marital']
find_majority(marital_0)

(1, 21)

In [36]:
gender_1 = cluster_1['gender']
find_majority(gender_1)

(0, 9)

In [37]:
marital_1 = cluster_1['marital']
find_majority(marital_1)

(2, 11)

In [38]:
gender_2 = cluster_2['gender']
find_majority(gender_1)

(0, 9)

In [39]:
marital_2 = cluster_2['marital']
find_majority(marital_2)

(1, 38)